.sidebar {
  background-color: #3F0E40;
  color: #cfc3cf;

  .divider {
    border-top: 1px solid #cfc3cf;
  }

  h1 {
    font-size: 1.5rem;
    color: #ece3ec;
  }

  h2 {
    font-size: 1.25rem;
  }
}